 *{
  padding :0;
  margin :0;
  

}

body{
  background-color:white;
  overflow: scroll; /* Show scrollbars */

}


.header{
 width:100%;
 height:20%;
 background-color:rgb(20, 83, 138);
 display:flex;
 justify-content: space-around;
 align-items:center;
 position: fixed;
 top: 0;
 color:rgb(39, 37, 37);
 z-index:12;
 background-image: url("./Components/bg1.png");
 font-size: 20px;
 background-size:contain;
}
.tagline {
  position: fixed;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
}

.input-wrap{
 background-color:whitesmoke;
 border-radius:10px;
 padding:0 15px;
 box-shadow: 0px 0px 8px #ddd;
 display:inline;
 align-items: center;
 row-gap: 10px;
}
.labeltextbox{
font-family: 'Satisfy' ,cursive;
font-size: 40px;

}
input{
  width:15vw;
  height:5vh;
  font-size: 20px;
  font-style:oblique;
  border:none;
  background-color: transparent;
}
.header .search-box{
  outline :none;
  border :none;
  width :450px;
  height:40px;
  font-size: 1.4rem;
  padding: 0 1rem;


} 
 .container {
  padding:1rem;
    border: 1px solid #ccc;
    background-color:white;
    position: relative;
    top: 10px;
    /* left: 10px;
    bottom: 10px; */
    width: 95%;
    margin-left: 5%;
    margin-top: 30%;
    right:10px;
     overflow-y: scroll;  
     display:grid;
     grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
     grid-gap:20px;
     box-shadow: rgba(99, 99, 99, 0.09) 0px 2px 8px 0px;
}


.card{
  width:230px;
  height:300px;
  padding: 0 0 1rem 0;
  box-shadow: 5px 5px 5px rgba(0, 0 , 0 ,0.3);
  text-align: center;
  overflow: hidden;
  position: relative;
  background-color: rgb(167, 156, 201);
}

.card img {
  width:100%;
  height: 80%;
  
  
}
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,600;1,400&family=Fuzzy+Bubbles&family=Roboto+Slab:wght@900&family=Satisfy&display=swap');
/* @font-face {
  font-family: 'Satisfy', cursive;
  src: url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,600;1,400&family=Fuzzy+Bubbles&family=Roboto+Slab:wght@900&family=Satisfy&display=swap');
} */
h1{
  font-family: 'Satisfy', cursive;
  font-size: 100px;
}

.catpage-wrap{
  margin-top:10%;
  padding:2rem;
  border-inline-color: rgb(183, 0, 255);
  align-content: center;
 }

.catpage-title{
  /* margin-top:0%;
  margin-left:6%;
  margin-right: 8%; */
  font-size:50px;
  font-family: 'Satisfy' ,cursive;
  background-color:lightcoral;
  position: relative;
  width:100%;
  padding: 1rem;

}
/* .category-itm{
  position:sticky;
  width:fit-content;
} */

.main-content{
  box-shadow: rgba(99, 99, 99, 0.09) 0px 2px 8px 0px;
  /* height:40%; */
  position:relative;
  margin-top:-30%;
  text-align:center;
  overflow-wrap:normal;
  
}

.cat-img{
  background-color:bisque
}


a .meal-body{
  width:320px;
  height:220px;
  padding:1rem;
  margin-top:-65%;
}
/* s */

img{
  width:320px;
  height:220px;
}

.meal-body-info{
  margin-top: 68%;
}
/* div .breadcrumb.span{
  float:right;
} */

/* end Recipe modal */
.end-recipe-modal {
   /* overflow: scroll;  */
  margin-top:20%;
  margin-left:10%;
  position:fixed;
  transition: 400ms ease-in-out;
  border-radius: 10px;
  text-align: center;
  font-size: 1em;
  z-index: 999 !important;
  top: 40%;
  left: 50%;
  width:50%;
  align-items: center;
  grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
     grid-gap:20px;
     box-shadow: rgba(150, 70, 70, 0.09) 0px 2px 8px 0px;
  /* overflow-y: scroll; */
}

.end-recipe-modal {
  transform: translate(-50%, -50%) scale(1);
  z-index: 9999 !important;
}

.end-recipe-modal-title {
  font-size: 40px;
  font-weight: bold;
  text-align: left;
  
}
/*Recipe Details Css*/
.details-img img{
width:700px;
height: 500px;

}
.recipe-title{
  background-color: lightcoral;
  font-size: 40px;
  font-family: 'Satisfy',cursive;
  float:right;
  height:fit-content;
}
.recipe-container{
  padding:1rem;
  border: 1px solid #ccc;
  background-color:white;
  position: relative;
  top: 10px;
  left: 10px;
  bottom: 10px;
  width: 79%;
  margin-left: 5%;
  margin-top: 30%;
  
  right:10px;
   /* overflow: scroll;   */
   display:grid;
   /* grid-template-columns: repeat(auto-fit,minmax(300px,1fr)); */
   grid-gap:20px;
   box-shadow: rgba(99, 99, 99, 0.09) 0px 2px 8px 0px;
}

div h6{
font-size:20px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.instruction{
  font-size: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border:2px;
  background-color: #ddd;
  padding: 2rem;
  
}